@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    padding: 0;
    margin: 0;

    font: inherit;
    font-size: 100%;

    vertical-align: baseline;

    border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Force scrollbar */
html {
    overflow-y: scroll;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
    vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
}

strong {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}

em {
    font-style: italic;
}

img {
    vertical-align: middle;

    border: 0;
}

sub,
sup {
    position: relative;

    font-size: 55%;
    line-height: 0;

    vertical-align: baseline;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
    display: table;

    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* Main page css
========================================================================== */

.profile-header {
  width: 100%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(to right, rgb(192, 72, 72), rgb(72, 0, 72))
}

.profile-header h2,
.profile-header p {
  color: #fff;
}

.profile-header h2 {
  font-size: 40px;
  margin-bottom: 20px;
}

.profile-header p {
  opacity: 0.75;
  font-size: 20px;
}

.profile-header ul {
  margin-top: 20px;
  display: flex;
  list-style: none;
}

.profile-header ul li {
  margin-right: 10px;
}

.profile-header ul li:last-child {
  margin: 0;
}

.profile-header ul li a {
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 6px;
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

/* about page css */

.about {
  margin-bottom: 50px;
}

.about p {
  color: #606c71;
  line-height: 28px;
  font-size: 17px;
}

.about .about-work {
  margin: 40px 0;
}

.about h4 {
  color: rgb(192, 72, 72);
}

.footer {
  display: flex;
}

.footer a {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: none;
}

.footer a.btn-linkedin {
  border-color: rgba(0,0,0,0.2);
  color: #fff;
  background-color: #007bb6;
}

.footer a.btn-github {
  margin-right: 10px;
  border-color: rgba(0,0,0,0.2);
  color: #fff;
  background-color: #444;
}