@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of
  * content. Table of content is use display the overall tree structure of your
  * Layout.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following color code and add your own as this is just and
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
  -------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following typography and add your own as this is just and
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    padding: 0;
    margin: 0;

    font: inherit;
    font-size: 100%;

    vertical-align: baseline;

    border: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

/* Force scrollbar */
html {
    overflow-y: scroll;
}

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

/* Align radios and text inputs with their label */

input[type="radio"] {
    vertical-align: text-bottom;
}

/* Hand cursor on clickable input elements */
label,
input[type="button"],
input[type="submit"],
button {
    cursor: pointer;
}

strong {
    font-family: inherit;
    font-size: inherit;
    font-weight: bold;
}

em {
    font-style: italic;
}

img {
    vertical-align: middle;

    border: 0;
}

sub,
sup {
    position: relative;

    font-size: 55%;
    line-height: 0;

    vertical-align: baseline;
}

sup {
    top: -.7em;
}

sub {
    bottom: -.25em;
}

/* 1.2. Clear Fix
========================================================================== */

.cf:before,
.cf:after {
    display: table;

    content: " ";
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* Main page css
========================================================================== */

#all-comments { display: none !important; }
.comments-open { display: none !important; }

em {
  color: #666;
  font-weight: 600;
}

.profile-header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #000;
}

.profile-header h1 {
  width: 100px;
}

.profile-header h1 a {
  display: block;
}

.profile-header h1 a img {
  width: 100%;
}

.profile-header ul {
  margin-top: 20px;
  display: flex;
  list-style: none;
}

.profile-header ul li {
  margin-right: 30px;
}

.profile-header ul li a {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

.profile-header ul li a span.fa {
  font-size: 25px;
}

.main {
  margin: 40px 0;
  padding: 0 0 40px 0;
  border-bottom: 1px solid #ddd;
  display: flex;
  align-items: center;
}

.main .my-photo {
  width: 50%;
}

.main .my-photo img {
  width: 100%;
  height: auto;
}

.main .overview {
  width: 100%;
  max-width: 300px;
  margin: 0 auto;
}

.main .overview h2 {
  margin-bottom: 20px;
  font-size: 32px;
  text-align: right;
}

.main .overview h2.coder {
  color: #666;
  font-size: 26px;
}

.main .overview p {
  margin-bottom: 15px;
  font-size: 18px;
  text-align: right;
}

.recent-work h3 {
  margin-bottom: 15px;
}

.recent-work ul {
  margin-bottom: 40px;
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.recent-work ul li {
  width: 32%;
  padding: 30px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.3);
}

.recent-work ul li a {
  display: block;
}

.recent-work ul li a:hover {
  text-decoration: none;
  opacity: .7;;
}

.recent-work ul li h4 {
  color: #111;
}

.recent-work ul li p {
  color: #666;
}

/* about page css */

.about {
  margin-bottom: 50px;
}

.about p {
  line-height: 28px;
  color: #111;
  font-size: 18px;
}

.about .about-work {
  margin: 40px 0;
}

.about .about-work a {
  color: #1e6bb8;
}

.about h4 {
  color: #666;
}

.footer {
  padding: 30px;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  background: #f5f5f5;
}

.footer.footer-about {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer span {
  color: #666666;
}

.footer a {
  padding: 5px 8px;
  border: 1px solid #1b95e0;
  border-radius: 4px;
  background: #1b95e0;
  color: #fff;
}

.footer a:hover {
  text-decoration: none;
}

.footer a.btn-linkedin {
  border-color: rgba(0,0,0,0.2);
  color: #fff;
  background-color: #007bb6;
}

.footer a.btn-github {
  margin-right: 10px;
  border-color: rgba(0,0,0,0.2);
  color: #fff;
  background-color: #444;
}

/* Projects page css */

.projects {
  margin: 40px 0;
}

.projects h3 {
  margin-bottom: 25px;
  color: #666;
  font-size: 32px;
}

.projects a {
  display: inline-block;
  text-decoration: none;
}

.projects a:hover {
  text-decoration: none;
}

.projects ul {
  padding-left: 20px;
  list-style: none;
}

.projects li {
  padding: 60px 0;
  border-bottom: 1px solid #ccc;
}

.projects li:first-child {
  padding-top: 0;
}

.projects li:last-child {
  border-bottom: 0;
}

.projects li h3 {
  margin-bottom: 12px;
  display: flex;
}

.projects li span {
  padding: 2px 5px 0 0;
  color: #111;
  font-size: 18px;
}

.projects li a h4 {
  color: #111;
  font-size: 20px;
  font-weight: 400;
}

.projects li a h4:hover {
  color: #666;
}

.projects li p {
  line-height: 25px;
  color: #111;
  font-size: 17px;
}

.projects li p a {
  font-size: 16px;
}

.projects iframe {
  max-height: 400px;
}

.projects img {
  max-width: 500px;
  width: 100%;
}

/* blog */

.blog,
.blog-detail {
  padding: 40px 0;
}

.blog {
  padding: 40px 0 80px 0;
}

.blog .blog-post h2 a,
.blog-detail h2 a {
  color: #111;
  font-size: 32px;
  text-decoration: none;
}

.blog .blog-post {
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

.blog .blog-post h2 a:hover,
.blog-detail h2 a:hover {
  color: #666;
}

a.read-more {
  vertical-align: middle;
  height: 36px;
  display: inline-block;
  line-height: 36px;
  padding: 0 1.5em;
  color: #fff;
  background-color: #333;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #111111), color-stop(1, #333333));
  background-image: -ms-linear-gradient(bottom, #111111, #333333);
  background-image: -moz-linear-gradient(center bottom, #111111 0%, #333333 100%);
  background-image: -o-linear-gradient(bottom, #111111, #333333);
}

a.read-more:hover {
  color: #fff;
  text-decoration: none;
}

.blog-detail {
  padding-bottom: 40px;
  border-bottom: 1px solid #ddd;
}

.blog-detail img {
  max-width: 900px;
  width: 100%;
  margin-bottom: 20px;
}

.blog-detail .list {
  padding-left: 35px;
}

.references {
  margin-bottom: 40px;
  padding: 0 20px;
  border-left: 5px solid #ccc;
  font-style: italic;
  color: #666;
}

.references p {
  margin: 0;
}

pre {
  padding: 20px 15px;
  background: #eee;
}

/* Media query */

@media (max-width: 992px) {
  .recent-work ul {
    flex-wrap: wrap;
  }

  .recent-work ul li {
    width: 48%;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .main .my-photo {
    width: inherit;
    padding: 30px 0;
  }

  .main .my-photo img {
    width: auto;
    height: 400px;
  }
}

@media (max-width: 585px) {
  .profile-header ul li a {
    font-size: 12px;
  }

  .recent-work ul li {
    width: 95%;
  }

  .footer {
    display: block;
    text-align: center;
  }

  .footer.footer-about {
    position: relative;
  }

  .footer span {
    display: block;
  }

  .footer a {
    margin-top: 10px;
    display: block;
  }
}